@font-face {
  font-family: 'iconfont';  /* Project id 2746096 */
  src: url('//at.alicdn.com/t/font_2746096_irjzuybfyv.woff2?t=1629208680426') format('woff2'),
       url('//at.alicdn.com/t/font_2746096_irjzuybfyv.woff?t=1629208680426') format('woff'),
       url('//at.alicdn.com/t/font_2746096_irjzuybfyv.ttf?t=1629208680426') format('truetype');
}
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }